In [1]:
import pandas as pd 

labeled_df = pd.read_excel('../1_DataDownload/fixed_labeled_data.xlsx')
print(len(labeled_df))
labeled_df.sample(10)

168619

                                                     text   class
150476                                           궁서체로 물었데     [0]
71147                                      대만국기는 못흔드네 ㅋㅋㅋ     [0]
94125                       "20대 여성들 대부분이 문한테 등돌린거 맞는데ㅋㅋ"  [1, 2]
25747                                            진정한 남페미다     [0]
46906                                          애네 몬데 자꾸나와     [0]
45360   커플빠들은 왜 맨날 ... 애긔애긔해요 . 갈수록 어려지네요 . 이런댓글로 찬양하지...     [8]
73818                        반대로 협찬에 목숨거는 연예인 폭로전이면 지지할까?     [0]
82465                                           저정도면 여신이지     [0]
97596           김미화씨가 어때서? 여기저기서 마녀사냥하는건 괜찮구? 좀 긍정적으로 살자.     [0]
70531                       조폭하고있는 내친구 상용이한테도 기자하라고 해야겠다.     [0]

In [2]:
filtered_df = labeled_df[labeled_df['class'].apply(lambda x: len(eval(x)) == 1)]
print(len(filtered_df))
filtered_df.sample(10)

153719

                                                     text class
13964                        성전환자로서의 전역이 아닌 심신장애에 의한 전역이지   [9]
153286                                          니네나라가서기도해   [3]
60739                                         거미좀 못생긴여자같다   [8]
38874   잘못한거 아니다!! 그럴수도 있는문제야 근데 내가 약간 꼰대라서.... 좋아보이진 ...   [0]
54286                     제일 이해안됐던 멤버있긴했음... 여자처럼 생긴 분...   [0]
42334                        "뭐래 70먹은 할배들도 하고 다니는 세상에 ㅋㅋ"   [0]
146655  이것은 아주 잘합니다. 나라를 살리는 일이죠. 평등법 제정은 이상한 소수가 다수를 ...   [5]
110168                            "토착왜구~일본을 이롭게 하는자~ 문재알"   [5]
139421                             김병욱 의원님, 옳은 일을 하신 겁니다!   [0]
91854                         90키로 ㅜ살어캐 빼려고 저렇게 찌웠을까. ㅠ안습   [0]

In [3]:
filtered_df['class'] = filtered_df['class'].apply(lambda x: eval(x)[0])
filtered_df.sample(10)

C:\Users\user\AppData\Local\Temp\ipykernel_9672\2635465820.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['class'] = filtered_df['class'].apply(lambda x: eval(x)[0])

                                                     text  class
138381        뒤차는 전방주시의무가 있다. 빙닭같은 댓글쓴 개새 끼들은 대갈에 뭐가들었냐 퉤      6
145015                               포괄적 차별금지법은 철회되어야합니다.      0
60310                                          성형녀의 모범이구만      8
37550                     내새끼 욕하면 난 안 참는다 그 놈 머리채 쥐어뜯어버린다      6
15291                                   어느 깡촌에 살기에 그모양이냐?      6
94198                                   연기 겁나못하는데 콧구멍만 벌랑      0
86569   "역시 인간종특에 한국종특 어디안간다ㅉㅉㅋ 그놈의 ""여자라서당했다""이것도 모자라...      7
127463                              "문어벙이 때문에 독도 뺏기게 생겼네"      5
72659                                   서태지는 그와중에 모르세로 있군      0
4036                           서울에 살다가 제주도에 가면 확실히 시야가 트임      0

In [4]:
filtered_df.to_excel('./filtered_data.xlsx',index=False)